body {
    background-color: #05c46b;
    font-family: Verdana;
    text-align: center;
}

/* Style form */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Style formulario Class */
.formulario {
    text-align: left;
    margin-bottom: 25px;
}

/* Style Label */
.formulario label {
    display: block;
    margin-bottom: 10px;
}

/* Style  input, 
select, textarea */
.formulario input,
.formulario select,
.formulario textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Style  Radio 
button and Checkbox */
.formulario input[type="radio"],
.formulario input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Style Button */
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}